/* Variables */
:root {
    --background: #000080;
    --main-color: black;
    --accent-color: #E6E6FA;
    --card-background: #E0B0FF;
}

/* Structure */
body, html {
    margin: auto;
    padding: 0;
    background-color: var(--background);
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: var(--accent-color);
}

#animals-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

section {
    background: var(--card-background);
    border-radius: 4px;
    padding: 10px;
    width: 250px;
    margin: 10px;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

/* Media Query */
@media only screen and (min-width: 900px) {
    #animals-div {
        justify-content: space-evenly;
    }

    section {
        width: calc(25% - 40px); 
    }
}